.navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 15rem;
  height: calc(100vh - 3.5rem);
  top: 3.5rem;

  .navbar-content {
    overflow-y: hidden;
    padding-top: 8px;

    &:hover {
      overflow-y: scroll;
      scrollbar-color: #a5a5a5 #ffffff;
      scrollbar-width: thin;
    }

    &::-webkit-scrollbar {
      width: 5px;
      height: 8px;
      background-color: ffffff;
    }

    &::-webkit-scrollbar-thumb {
      background: #a5a5a5;
    }

    .item-group {
      .divider {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        margin: 8px 0;
      }

      .item {
        display: flex;
        align-items: center;

        padding: 6px 20px;
        cursor: pointer;
      }

      .item.selected {
        background-color: #e5e5e5;
        font-weight: bold;
        .item-icon {
          color: #ff0000;
        }
        &:hover {
          background-color: #d9d9d9;
        }
      }

      .item:hover {
        background-color: #f2f2f2;
      }

      .item-icon {
        color: #404040;
      }

      .item-text {
        vertical-align: middle;
        font-size: 0.9rem;
        padding-left: 20px;
      }

      .item-title {
        text-transform: uppercase;
        font-size: 0.9rem;
        font-weight: 500;
        color: #404040;
        padding: 10px 20px;
      }
    }
  }
}
